*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #F2F2F2;
    padding: 20px;
}

#container{
    display: flex;
    flex-wrap: wrap;
}

.form {
    flex: 1.4;
    padding: 30px;
    background-color: #FFF;
}

.form h1{
    color: #576CBC;
    font-size: 36px;
    font-weight: 500;
}

.form textarea, #textoResultado {
    width: 100%;
    padding: 10px;
    border: none;
    outline: 0;
    background-color: #F2F2F2;
    color: #576CBC;
    font-size: 14px;
    font-weight: 400;
}

.form textarea::placeholder{
    color: #BABABA;
} 

.form span{
    display: block;
    margin: 20px 0;
    background-color: #F2F2F2;
    border-left: 6px solid #576CBC;
    padding: 4px;
    color: #576CBC;
    font-size: 12px;
    font-weight: 400;
}

.botoes {
    display: flex;
    justify-content: space-between;
    
}

.botoes .btnCript, .btnCopiar {
    background-color: #576CBC;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 30px;
    border: 0;
    cursor: pointer;
    width: 45%;
}

.btnCopiar{
    width: 100%;
    margin-top: 20px;
}




.botoes .btnDescript {
    background-color: #F2F2F2;
    color: #576CBC;
    border: 1px solid #576CBC;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 30px;
    cursor: pointer;
    width: 50%;
}

.result {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-left: 20px;
    padding-top: 20px;
}

.result img{
    max-width: 377px;
    margin-left: 100px;
}

.result h2 {
    margin: 30px 0;
    text-align: center;
}

.result .textoVazio{
    margin-bottom: 30px;
    text-align: center;
}


.textResult {
    margin: 10px;
    padding: 20px;
    background-color: #F2F2F2;
    color: #576CBC;
    text-align: left;
    height: 100%;
    width: 95%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 990px){
    .result {
        margin-left: 0;
        margin-top: 20px;
    }
}